/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: FASTQC {
        ext.args = '--quiet'
    }

    withName: BBMAP_BBDUK {
        ext.args = 'ktrim='+ params.ktrim + ' k='+ params.k + ' mink='+ params.mink + ' hdist='+ params.hdist + ' qtrim='+ params.qtrim + ' trimq=' + params.qual + ' minlen='+ params.minlen + ' '+ params.extra 
    }

    withName: FASTP {
        ext.args1 = '--average_qual '+ params.qual + ' length_required '+ params.minlen 
        ext.args2 = params.overrepresentation_analysis == true ? " --overrepresentation_analysis true ":''
        ext.args3 = params.low_complexity_filter == true ? " --low_complexity_filter true --complexity_threshold "+params.complexity_threshold: ''
        ext.args4 = params.dedup == true ? ' --dedup true --dup_calc_accuracy '+params.dup_calc_accuracy: ''
        ext.args = ext.args1 + ext.args2 + ext.args3 + ext.args4
    }

    withName: PARDRE {
        ext.args = ' -z '
    }

    withName: SPADES {
        ext.args = params.spades_kmer ?' -k '+params.spades_kmer:''
    }

    withName: SAMTOOLS_CONSENSUS{
        ext.args = ' -A --show-ins yes --show-del yes '
    }

    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

}
